@use '@fontsource/noto-sans' as *; 



* {
  box-sizing: border-box;
}

body,
html {
  background: var(--background-primary); 
  font-family: 'Noto Sans', sans-serif;  
  height: 100%;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-top: 32px;
}

.grid-container {
  display: grid;
  gap: 12px;
  padding: 16px;
  border-radius: 20px;
}

#app {
  background: var(--background-primary);  
  padding: 16px;
  height: 100%;
}

$themes: (
  light: (
    background-primary: #ffffff,
  ),
  dark: (
    background-primary: #000000,
  ),
);

@each $theme-name, $theme-map in $themes {
  [data-theme='#{$theme-name}'] {
    @each $key, $value in $theme-map {
      --#{$key}: #{$value};
    }
  }
}
